.Yellow{
    color: #FFC75A;
}
.Input{
    font-weight: 500;
    width: 400px;
    font-size: 20px;
    padding: 16px 22px;
    border: 1px solid #999;
    border-radius: 10px;
}
.InputWrap {
    margin-bottom: 45px;
    
}
.LoginBtn{
    width: 270px;
    height: 65px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-color: #FFC75A;
    border: 1px solid #FFC75A;
    border-radius: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.MainLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.sendToTeacher{
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 600;
}

.Under{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.Under:hover{
    text-decoration: underline;
}