.InputMember{
    flex-direction: column;
    margin-bottom: 20px;
}
.MainMember{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}
.MemberBtn{
    width: 270px;
    height: 65px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-color: #FFC75A;
    border: 1px solid #FFC75A;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}